html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  
}

/*спрятать скрытые заголовки*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*убрать подчеркивание ссылок*/
a {
  text-decoration: none;
}

/*главная страница*/
/*текст главного меню*/
.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

/*убрать маркеры и автоматические отступы у ссылок*/
.main-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*изменить цвет для ссылок навигации*/
.main-navigation-list a {
  color: #000000;
}

/*изменить цвет при наведении*/
.main-navigation-list a:hover {
  color: #81b3d2;
}

/*изменить цвет при нажатии*/
.main-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*изменить цвет у ссылки на текущую страницу*/
.main-navigation-link-current {
  color: #766357;
}


/*шрифт для "Седона - небольшой городок в Аризоне"*/
.intro-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/*шрифт для "Рассмотрим 5 причин"*/
.intro-text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/*убрать маркеры у причин"*/
.features-list {
  list-style: none;
}

.features-sub-list {
  list-style: none;
}

/*шрифт для заголовка причин*/
.features-title-white {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

/*шрифт для номеров причин и самих причин */
.features-list {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-group {
  font-size: 14px;
  text-align: center;
  color: #333333;

  list-style: none;
  margin: 0 auto;
  padding: 0;
  
  display: flex;

  background-color: #ffffff;
}

/*шрифт для трёх бонусных причин*/
.features-sub-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.features-sub-content {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/*шрифт для "Заинтересовались?"*/
.visit-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

/*шрифт для "Укажите даты"*/
.visit-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

/*кнопка "Поиск гостиницы в Седоне"*/
.button-search {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  color: #ffffff;

  background-color: #766357;
}

/*кнопка "Поиск гостиницы в Седоне" - наведение*/
.button-search:hover {
  background-color: #604e43;
}

/*кнопка "Поиск гостиницы в Седоне" - нажатие*/
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*кнопка "Найти"*/
.button-search.button {
  background-color: #81b3d2;
}

/*кнопка "Найти" - наведение*/
.button-search.button:hover {
  background-color: #669ec0;
}

/*кнопка "Найти" - нажатие*/
.button-search.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*шрифт для критериев поиска*/
.search-criterion {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/*фон для поля ввода критериев поиска*/
.search-criterion input {
  background-color: #f2f2f2;
  border: none;
}

/*фон и рамка для поля ввода критериев поиска - наведение*/
.search-criterion input:hover {
  background-color: #ebebeb;
  border: none;
}

/*фон и рамка для поля ввода критериев поиска - фокус*/
.search-criterion input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

/*подсказки на форме поиска гостиниц*/
.search-criterion input::placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

/*шрифт для тега*/
.tag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/*шрифт для логотипа Академии*/
.developerLogo {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.8);
}

/*---------------------------*/
/*страница гостиниц*/
/*размытый фон*/
.search {
  background: url("../img/jpg/background-photo-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d5b8a9;
}

/*названия критериев фильтрации*/
.filter-checkboxes legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.filter label {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

/*убрать маркеры у критериев фильтрации*/
.filter-checkbox {
    list-style: none;
}

/*критерии фильтрации*/
.filter-checkboxes {
  border: none;
}

.filter-checkboxes label {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.filter-cost {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

/*кнопка "Показать"*/
.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  outline: 2px solid #ffffff;
}

/*сортировка*/
.sort p:first-of-type {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.sort p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.sort-list a:active {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #81b3d2;
  border-bottom: none;
}

.sort-list a {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2; 
}

/*изменить цвет у ссылки на текущую страницу*/
.main-navigation-link-current {
  color: #766357;
}

.sort-order {
  list-style: none;
}

/*ссылки на соцсети*/
.social-button {
  vertical-align: middle;
  border: none;
  background-color: #81b3d2;
}

/*ссылки на соцсети - наведение*/
.social-button:hover {
  background-color: #669ec0;
}

/*ссылки на соцсети - нажатие*/
.social-button:active {
  background-color: #5496bd;
}

/*блок найденной гостиницы*/
.catalog-info-hotel h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

/*описание гостиницы*/
.hotel-description {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

/*кнопка "Подробнее"*/
.button-more {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  color: #ffffff;

  background-color: #81b3d2;
}

/*кнопка "Подробнее" - наведение*/
.button-more:hover {
  background-color: #669ec0;
}

/*кнопка "Подробнее" - нажатие*/
.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*кнопка "Забронировать"*/
.button-book {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  color: #ffffff;

  background-color: #766357;
}

/*кнопка "Забронировать" - наведение*/
.button-book:hover {
  background-color: #604e43;
}

/*кнопка "Забронировать" - нажатие*/
.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/*заголовки с названиями гостиниц*/
.catalog-name {
  color: #000000;
  background-color: #ffffff;
}

/*заголовки с названиями гостиниц - наведение*/
.catalog-name:hover {
  color: #81b3d2;
}

/*заголовки с названиями гостиниц - нажатие*/
.catalog-name:active {
  color: rgba(0, 0, 0, 0.3);
}

/*звезда - повторяется, регулировать количество шириной*/
.star {
  content: url("../img/svg/icon-star.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/*alt от фотографий отелей*/
.hotel-photo a {
  color: #000000;
}

.hotel-photo a:hover {
  color: #81b3d2;
}

.hotel-photo a:active {
  color: #81b3d2;
}

.hotel-photo a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*alt от логотипа Академии*/
.developer a {
  color: #000000;
}

.developer a:hover {
  color: #81b3d2;
}

.developer a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*alt от логотипа Седоны*/
.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*сетки*/

/* вспомогательная раскраска блоков
body > * { background-color: rgba(255,0,0,0.5); } body > * > * { background-color: rgba(255,255,0,0.5); } body > * > * > * { background-color: rgba(0,255,0,0.5); } body > * > * > * { background-color: rgba(255,0,255,0.5); }
*/

body > * {
  outline: 1px solid red;
}

body > * > * {
  outline: 1px solid blue;
}

body > * > * > * {
  outline: 1px solid green;
}

body > * > * > * {
  outline: 1px solid rgb(255, 0, 149);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-navigation-list {
  min-height: 56px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.main-navigation-list li {
  display: block;
  padding-top: 16px;
  padding-bottom: 11px;
  vertical-align: middle;
}

.main-navigation-list li:first-of-type {
  padding-left: 72px;
  padding-right: 74px;
}

.main-navigation-list li:nth-of-type(2) {
  padding-left: 73px;
  padding-right: 68px;
  margin-right: 244px;
}

.main-navigation-list li:nth-of-type(3) {
  padding-left: 77px;
  padding-right: 71px;
}

.main-navigation-list li:nth-of-type(4) {
  padding-left: 91px;
  padding-right: 70px;
}

.main-logo {
  position: absolute;
  margin-left: -70px;
  left: 50%;
  top: 0;
}

/*фоновая фотография и полигон*/
.intro-image-wrapper {
  background: url("../img/svg/main-polygon.svg"), url("../img/jpg/background-photo.jpg");
  background-position: 50% 452px, center;
  background-repeat: no-repeat;
  background-color: #d5b8a9;
  min-height: 773px;
}

/*welcome*/
.intro img {
  min-height: 353px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
}

/*Седона - небольшой городок*/
.intro-content {
  display: block;
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -265px;
  min-height: 200px;
  padding-bottom: 50px;
}

.intro-title {
  display: block;
  width: 440px;
  margin: 0 auto;
  padding-top: 62px;
}

.intro-text {
  display: block;
  width: 490px;
  margin: 0 auto;
  padding-top: 30px;
}

.intro, .visit {
  background-color: #ffffff;
}

.visit-container {
  background-color: #ffffff;
  padding-bottom: 112px;
  padding-top: 25px;
  width: 576px;
  margin: 0 auto;
}

.social {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100px;
  width: 150px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:hover path{
  opacity: 0.3;
}

/*временно вспомогательное*/
.features {
  height: 1097px;
}

.features-list {
  min-height: 256px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
}

.feature-item {
  min-height: 256px;
  width: 100%;

  display: flex;
  flex-direction: row;
}


.feature-item:last-of-type {
  order: 2;
}

.feature-item:nth-of-type(2) {
  order: 3;
}

.feature-item:nth-of-type(3) {
  order: 4;
}

.features-sub-list {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: row;

  background-color: #ffffff;
}

.features-sub-list li:first-of-type::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;
  top: 1098px;
  left: 510px;
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;

  background-image: url("../img/svg/icon-house.svg"); 
}

.features-sub-list li:nth-of-type(2)::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;
  top: 1098px;
  left: 913px;
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;

  background-image: url("../img/svg/icon-food.svg");
  
}

.features-sub-list li:last-of-type::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;
  top: 1098px;
  left: 1320px;
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;

  background-image: url("../img/svg/icon-gifts.svg");
  
}

.features-sub-list li {
  width: 284px;
  padding-top: 141px;
  flex-grow: 1;
  margin-bottom: 71px;
}

.features-group .feature-item {
  margin: 0;
  padding: 0;
  width: 400px;
  
  flex-direction: column;

  background-color: #eeeeee;
}

.feature-image {
  width: 800px;
  min-height: 256px;
}


.main-footer {
  background: rgba(255, 255, 255, 0.9);
  width: 1200px;
  
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;

  position: relative;
}

.main {
  margin-top: -120px;
}

.tag {
  margin: 0;
  min-height: 100px;
  width: 136px;
  margin-left: 132px;
  padding-top: 51px;
  padding-bottom: 53px;
}

.developer {
  margin: 0;
  min-height: 100px;
  width: 197px;
  margin-right: 101px;
  padding-top: 39px;
  padding-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.developer span {
  margin-top: 5px;
}

/*что-то не то стало с логотипом - не отображается */
.developer-logo:active path{
  fill: #81b3d2;
}

.developer-logo:hover path{
  fill: #bdbbbc;
}

.accomodation-search {
  background-color: #ffffff;

  min-height: 481px;
  width: 568px;

  position: relative;
  margin-top: -690px;
  left: 50%;
  margin-left: -284px;
}

.search-criterion {
  flex-basis: 478px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.search-criterion input {
  width: 346px;
  box-sizing: border-box;
}

.search-criterion input[placeholder] {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 13px;
}

.search-criterion label{
  padding-right: 20px;
}

.criterion-counts p:first-of-type{
  display: block;
  float: left;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 55px;
}

.criterion-counts p:last-of-type {
  display: block;
  float: right;
  margin-top: 0;
  margin-bottom: 50px;
  margin-right: 55px;
}

.criterion-counts input {
  width: 113px;
  box-sizing: border-box;
}

.visit {
  margin: 0 auto;
}

.accomodation-search .button-search {
  width: 100%;
  display: block;
  padding-top: 30px;
  padding-bottom: 29px;
  margin-bottom: 52px;
}

.button-search.button {
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 18px;
}

.search {
  /*временно для сетки*/
  height: 217px;
}

.filter {
  display: flex;
}

.filter-checkboxes {
  margin-top: 27px;
  margin-left: 76px;
}


.filter-checkboxes ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.filter-cost-container {
  margin-left: 364px;
  margin-top: 30px;
}


.sort {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;

    /*временно для сетки*/
    height: 86px;
}

.sort .sort-results {
  margin-left: 72px;
  margin-top: 31px;
}

.sort .sort-name {
  margin-left: 49px;
  margin-top: 35px;
}

.sort .sort-criteries {
  display: flex;
  margin-top: 27px;
  width: 250px;
  justify-content: space-between;
}

.sort .sort-orders {
  display: flex;
  margin-top: 39px;
  margin-left: 493px;
}

.sort-orders li {
  padding-right: 12px;
}

/* сюда программируй */
.catalog-info-hotel {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row; 
}

.hotel-photo {
  margin-top: 30px;
  margin-left: 73px;
}

.hotel-book .button {
  width: 50%;
  display: block;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.hotel-book .button-more {
  float: left;
}

.hotel-book .button-book {
  float: right;
}

.catalog-ino-container {
  width: 260px;
}

.catalog {
      /*временно для сетки*/
      height: 455px;
}
.catalog-info {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

